<launch>

  <!-- Some controller for testing purposes -->
  <include file="$(find controller_switcher)/some_controllers.launch" />

  <rosparam command="load" ns="controller_switcher"
            file="$(find controller_switcher)/pr2_controller_groups.yaml" />
  <node pkg="controller_switcher" type="controller_switcher.py"
        name="controller_switcher" output="screen"/>
</launch>
